   {%load staticfiles %} 

   <div class="wrapp ">

    <div class="demo1 demof">

      <ul>
        <li class="odd"><img src="{% static 'news/img/1.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
          <p>Best deal just now</p>
        </li>
        <li class="odd"><img src="{% static 'news/img/2.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
          <p>Best deal just now</p>
        </li><li class="odd"><img src="{% static 'news/img/4.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
          <p>Best deal just now</p>
        </li><li class="odd"><img src="{% static 'news/img/5.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
          <p>Best deal just now</p>
        </li><li class="odd"><img src="{% static 'news/img/7.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
          <li class="odd"><img src="{% static 'news/img/3.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
            <p>Best deal just now</p>
          </li>
          <li class="odd"><img src="{% static 'news/img/6.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
            <p>Best deal just now</p>
          </li> <li class="odd"><img src="{% static 'news/img/7.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
          <p>Best deal just now</p>
        </li>
        <li class="odd"><img src="{% static 'news/img/8.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
          <p>Best deal just now</p>
        </li><li class="odd"><img src="{% static 'news/img/9.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
          <p>Best deal just now</p>
        </li><li class="odd"><img src="{% static 'news/img/10.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
          <p>Best deal just now</p>
        </li><li class="odd"><img src="{% static 'news/img/11.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
          <li class="odd"><img src="{% static 'news/img/12.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
            <p>Best deal just now</p>
          </li>
          <li class="odd"><img src="{% static 'news/img/13.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
            <p>Best deal just now</p>
          </li>
          <li class="odd"><img src="{% static 'news/img/14.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
            <p>Best deal just now</p>
          </li>
          <li class="odd"><img src="{% static 'news/img/15.jpg' %}" alt="Expandable Input" /><a href="">New Arrival</a>
            <p>Best deal just now</p>
          </li>


        </ul>
      </div>


    </div>